.update-btn {
  text-align: center;
  button {
    border-radius: 30px;
  }
}
.profile {
  margin-top: 60px;
  margin-bottom: 40px;
}

.image {
  border-radius: 90px;
}

.icon {
  border: 2px;
  border-radius: 10px;
  position: relative;
  right: 30px;
  top: 40px;
}
.heading {
  text-align: center;
  margin-bottom: inherit;

  // font-size: x-large;
}

.button {
  position: absolute;
  left: 800px;
}

.button1 {
  margin-top: 22px;
  margin-bottom: 20px;
  text-align: center;
  /*margin-left: 390px;*/
}

.address-text p{
  margin-top:25px;
  font-size:20px;
}

.btn {
  color: #fff;
  height: 37px;
  // background-color: #0062cc;
  // border-color: #005cbf;
  // border-radius: 20px;
}

.profile-address {
  margin-bottom: 14px;
  text-align: center;
  padding:6px;
  border: 1px solid #e9ecef;

} 

.profile-address p {
  padding:0px;
  margin: 4px;  
}

.edit-buttons button{
  margin-left:13px;

}
