.update-btn {
  text-align: center;
  button {
    border-radius: 30px;
  }
} 
.profile {
  margin-top: 60px;
  margin-bottom: 40px;
}

.image {
  border-radius: 90px;
}

.icon {
  border: 2px;
  border-radius: 10px;
  position: relative;
  right: 30px;
  top: 40px;
}
.heading {
  text-align: center;
  margin-bottom: inherit;

  // font-size: x-large;
}
.profile-form {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.12);
  padding: 20px;
}

.button {
  position: absolute;
  left: 800px;
}

.button1 {
  margin-top: 22px;
  margin-bottom: 20px;
  text-align: center;
  button {
    background-color: #82ae46;
    border: #82ae46;
  }
  /*margin-left: 390px;*/
}
.margin {
  margin: 14px;
}
.margin1 {
  margin: 35px 0px 0px 0px;
  .cancel-btn {
    position: absolute;
    top: 351px;
    left: 126px;
  }
}
.address-text p {
  margin-top: 25px;
  font-size: 20px;
}

.btn {
  color: #fff;
  height: 37px;
  border-radius: 25px;
  margin: 2px;
  // background-color: #0062cc;
  // border-color: #005cbf;
  // border-radius: 20px;
}

.profile-address {
  margin-bottom: 14px;
  // text-align: center;
  padding: 6px;
  border: 1px solid #e9ecef;
  position: relative;
  .address-type {
    border: solid 1px #e6e2e2;
    border-radius: 25px;
    display: initial;
    padding: 5px;
    font-size: 13px;
    background-color: #82ae46;
    color: #fff;
    font-weight: 633;
  }
  .edit-buttons {
    
    button {
      float: right;
      margin-left: 13px;
    }
    .edit {
      position: absolute;
      top: -4px;
      right: 23px;
      i {
        color: rgb(43, 43, 146);
      }
    }
    .delete {
      height: 25px;
      width: 25px;
      position: absolute;
      top: -5px;
      // left: -7px;
      right: -11px;
      i{
        color: rgb(202, 23, 23);
      }
    }

  }
  p {
    padding: 0px;
    margin: 4px;
  }
}
