.signup-form {
  // background-color: #f7f6f2;
  padding-top: 25px;
  padding-bottom: 25px;
}

.card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  .card-header {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    background-color: #fff;
  }
  .card-body {
    .form {
      input {
        height: 52px !important;
      }
    }
  }
}
.signUp {
  margin-top: 10px;
  margin-bottom: 30px;
}
.img {
  background-image: unset;
}
.invalid-txt {
  text-align: justify;
}

.btn-block {
  background-color: #82ae46;
  color: #fff;
  border-radius: 50px; 
  font-size: 17px;
  padding: 6px 0px 10px 0px;
  &:hover {
    background-color: #fff;
    border: 1px solid #82ae46;
    color: #82ae46;
    font-weight: 600;
  }
}
