<section>
  <div class="container-fluid about">
    <div class="row">
      <div class="col-md-6">
        <div class="about-img">
          <img src="../../assets/aboutIMG1.jpg" alt="aboutImage">
        </div>
      </div>
      <div class="col-md-6">
        <div class="about-text">
          <h2>Welcome to OrderManagement an eCommerce website</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi voluptates expedita ullam doloribus dignissimos assumenda voluptate deleniti tenetur, vel totam, aspernatur officiis facilis. Cumque quasi velit enim, vel incidunt ipsam.</p>
          <p class="pb-20">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi voluptates expedita ullam doloribus dignissimos assumenda voluptate deleniti tenetur, vel totam, aspernatur officiis facilis. Cumque quasi velit enim, vel incidunt ipsam.</p>
          <button class="btn btn-md" (click)="shopNow();">ShopNow</button>
        </div>  
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid">
    <div class="container customer-report">
      <div class="widget">
        <h2 class="section-heading">Our Satisfied Customer says</h2>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, illum ea? Doloremque tenetur, quos eos natus animi</p>
          <div class="row">
            <div class="col-md-4">
              <div class="customer-profile">
                <img src="../../assets/user.jpg" alt="">
              </div>
              <div class="customer-desc">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, illum ea? Doloremque tenetur, quos eos natus animi</p>
              </div>
              <div class="customer-data">
                <h4>Shiva</h4>
                <p>INTERFACE DESIGNER</p>
              </div>
            </div>    
            <div class="col-md-4">
              <div class="customer-profile">
                <img src="../../assets/user.jpg" alt="">
              </div>
              <div class="customer-desc">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, illum ea? Doloremque tenetur, quos eos natus animi</p>
              </div>
              <div class="customer-data">
                <h4>Suzuki</h4>
                <p>SYSTEM ANALYST</p>
              </div>
            </div> 
            <div class="col-md-4">
              <div class="customer-profile">
                <img src="../../assets/user.jpg" alt="">
              </div>
              <div class="customer-desc">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, illum ea? Doloremque tenetur, quos eos natus animi</p>
              </div>
              <div class="customer-data">
                <h4>Santhosi</h4>
                <p>MARKETING MANAGER</p>
              </div>
            </div> 
          </div>    
      </div>    
    </div>
  </div>
</section>