.about {
    background-color: #f7f6f2;
    padding-top: 50px;
    padding-bottom: 50px;
    .about-img {
        background-color: #f7f6f2;
        text-align: center;
    }
    .about-text {
        padding: 6px 30px 20px 8px;
        h2 {
            font-size: 40px;
            font-weight: 600;
            color: #000;
        }
        p {
            color: gray;
            padding-top: 28px;
        }
        .pb-20 {
            padding-bottom: 20px;
        }
        button {
            background-color: #82ae46;
            color: #fff;
            border-radius: 50px;
            &:hover {
                background-color: #fff;
                border: 1px solid #82ae46;
                color: #82ae46;
                font-weight: 600;
            }
        }
    }
}

/*================== STARTS CUSTOMER REPORT STYLES  =======================*/


.customer-report {
    text-align: center;
    .customer-profile {
      img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
      }  
    }
    .customer-desc {
      margin-bottom: 30px;
      margin-top: 35px;
    }
    .customer-data {
      h4 {
        font-size: 18px;
        font-weight: 400;
        color: rgba(0,0,0,.8);
      }
      p {
        font-size: 12px;
        font-weight: 400; 
        letter-spacing: 2px;
        color: rgba(0,0,0,.8);
      }
    }
  }

  .widget {
    margin-top: 10px;
    padding-bottom: 25px;
    .section-heading {
      text-align: center;
      padding-top: 35px;
      font-size: 40px;
      font-weight: 600;
      color: #000;
      font-family: poppins,Arial,sans-serif;
      margin-top: 70px;
    }
    p {
      // color: gray;
      text-align: center;
      // font-family: poppins,Arial,sans-serif;
      font-size: 13px;
      line-height: 1.8;
      font-weight: 400;
    }
    .description {
      color: gray;
      padding-bottom: 20px;
    }
  }


/*============ END OF CUSTOMER REPORT STYLES  =======================*/   