<section class="cart-section">
  <div class="col-sm-12 cart-end">
    <div class="box box-success">
      <div class="mycontainer">
        <div class="cart-page">
          <div>
              <img src="assets/tick.png" alt="tickMark">
            </div>
          <div class="cart-data">
            <p class="cart-font">Thank You,</p>
            <p class="cart-font1">Your Order is Confirmed</p>
            <div class="orderId">
              <label for="">Your Order ID:</label>
              <p>ORDER1566220264</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
