.signin {
  background-color: #f7f6f2;
}
.card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  .card-header {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    background-color: #fff;
  }
}
.img {
  background-image: unset;
}
.invalid-txt {
  text-align: justify;
}
.error-message {
  color: red;
}
.btn-block {
  background-color: #82ae46;
  color: #000;
}
.float-right {
  color: #000;
  margin-top: 14px;
  font-size: 17px;
  font-weight: 600;
}
