
.header-widget {
  background-color: #2874f0;
}

.logo-text h2{
  color:#ffffff;
}

// .navbar-toggler-icon {
//   color:#ffffff;
// }

.navbar ul li {
  padding: 0 13px;
}

.navbar ul li a {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

.user-image {
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50px;
  margin-right: 10px;
  margin-top: 4px;
}

.user-image1 {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    // margin-right: 10px;
    // margin-top: 4px;
}

hr {
  margin: 5px 10px 9px 10px;
}

.drop1 a{
    text-align: center;
}

.image1 {
    display:flex;
    padding:6px;
    justify-content: center;
}

.image1 p{
    margin:0px;

}

.dropimage{
    text-align: center;
}

.drop-text {
    font-size:10px;
}

.drop-button {
    text-align:center;
}

@media screen and (max-width: 480px) {
  .drop1 a {
    text-align: center;
  }
}

@media screen and(max-width: 480px) {
  .logo-text h2 {
    font-size: 22px;
    margin-left: -20px;
  }
}