@import "../../../manual-Styles/custom-styles.scss";
.header-widget {
  border-bottom: solid 1px #f0f0f0;
  background-color: #fff;
  // font-family: lato, Roboto, "Helvetica Neue", sans-serif;
  .header-top {
    background-color: #82ae46;
    height: 27px;
    color: #fff;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    // vertical-align: middle;
    padding: 3px;
    @include mobile {
      text-align: none;
      padding: 10px 0px 10px 0px;
      height: 96px;
      display: grid;
      font-size: 10px;
    }
    .top-text {
      padding-left: 37px;
      display: flex;
      @include mobile {
        padding-left: 24px;
        display: grid;
      }
      p {
        padding: 0px 3px 0px 23px;
        @include mobile {
          padding: 0px;
        }
      }
      i {
        margin-right: 5px;
      }
    }  
    .social-icons {
      display: flex;
      padding-left: 509px;
      @include mobile {
        padding-left: 0px;
        display: block;
      }
      i {
        padding: 0px 0px 0px 10px;
        font-size: 16px;
      }
    }
  }
}

.logo-text h2 {
  color: #82ae46 !important;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  // text-shadow: 0px 1px #000;
  padding: 14px;
  @include mobile {
    font-size: 15px !important;
  }
  &:hover {
    color: #000 !important;
  }
}

.menu-btn {
  @include mobile {
    margin-left: 30px;
  }
}
.menu-btn:active, .menu-btn:focus {
  outline: none !important;
}

.navbar {
  height: 67px;
  ul li {
    padding: 0 7px;
    position: relative;
    right: 30px;
    a {
      font-size: 11px;
      font-weight: 400;
      color: #000;
      text-transform: uppercase;
      letter-spacing: 2px;
      opacity: 1 !important;
      &:hover {
        color: #82ae46;
      }
    }  
  }  
}

.navbar-toggler {
  border-color: #ffffff;
}

.navbar-toggler-icon {
  i {
    color: #82ae46;
  }
}
.active {
  // border-bottom-color:1px solid black;
  color: #000;
}
.active-dropdown {
  color: #82ae46;
}
.user-image {
  float: left;
  // width: 25px;
  // height: 25px;
  border-radius: 50px;
  margin-right: 7px;
  margin-top: 8px;
}

.user-image1 {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  // margin-right: 10px;
  // margin-top: 4px;
}

hr {
  margin: 5px 10px 9px 10px;
}

// .custom-dropdown {
//   min-width: auto !important;
// }

.drop1 {
  min-width: auto;
  a {
    text-align: center;
    background-color: #fff !important;
    padding-bottom: 10px !important;
    padding-top: 10px;
  }
}

.image1 {
  display: flex;
  padding: 6px;
  justify-content: center;
}

.image1 p {
  margin: 0px;
}

.dropimage {
  text-align: center;
}

.drop-text {
  font-size: 10px;
}

.drop-button {
  text-align: center;
  button {
    border-radius: 25px;
    // &:hover {
    background-color: #82ae46;
    border: #82ae46;
    // }
  }
}
.dd {
  color: black !important;
  font-size: 11px !important;
  &:hover {
    color: #82ae46 !important; 
  }
}
@media screen and (max-width: 480px) {
  .drop1 a {
    text-align: center;
  }
}

@media screen and(max-width: 480px) {
  .logo-text h2 {
    font-size: 22px;
    margin-left: -20px;
  }
}
