<section class="cart-section">
  <div class="container">
    <div class=" empty-cart">
      <button type="button" class="btn btn-primary" (click)="deleteAll()">
        Empty Cart
      </button>
    </div>
    <h1>Cart Items</h1>

    <div class="shopping-cart">
      <div class="product" *ngFor="let cart of cartProducts; let i = index">
        <div>
          <div class="product-image">
            <img src="assets/cement.jpg" />
          </div>
          <div class="product-details">
            <div class="product-title">{{ cart.company_name }}</div>
          </div>
          <div class="product-price">
            <p>&#8360; {{ cart.price }}</p>
          </div>
          <div class="product-quantity">
            <input
              type="number"
              value="{{ cart.quantity }}"
              (input)="cartValue(cart, $event.target.value, i)"
            />
          </div>
          <div class="product-removal">
            <button
              class="btn btn-danger btn-xs"
              (click)="deleteOneItem(i, cart.cart_id)"
            >
              <i class="fa fa-trash"></i>
            </button>
          </div>
          <div class="product-line-price">
            <p>&#8360; {{ cart.totalPrice }}</p>
          </div>
        </div>
      </div>
      <div class="totals">
        <div class="totals-item totals-item-total">
          <label>Grand Total</label>
          <div class="totals-value" id="cart-total">
            <p>&#8360; {{ cartGrandTotal }}</p>
          </div>
        </div>
      </div>

      <button class="checkout">Checkout</button>
    </div>
  </div>
</section>
