@import "../../manual-Styles/custom-styles.scss";
// .container-fluid {
//   background-color: #f7f6f2;
// }
.submit-btn {
  text-align: center;
  /*margin-left:300px;*/
  button {
    border-radius: 25px;
    color: #fff;
    background-color: #82ae46;
    // border: 1px solid #82ae46;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px; 
  }
}

.btn {
  border-radius: 20px;
  /*margin-left: -190px;*/
}

.form-fields {
  display: flex;
}

// .ref-fields {
//   input:invalid {
//     border: 1px solid red;
//   }
//   input:valid {
//     border: 1px solid black;
//   }
// }
.card { 
  background-color: #f7f6f2;
  border: none;
  margin-top: 15px;
  .userdata {
    padding: 8px;
    @include mobile {
      padding: 0px;
    }
  }
}  
.typeofaddress {
  padding: 8px 8px 8px 26px;
}

.add {
  padding-top: 37px;
}

.data {
  border: solid lightgray 1.5px;
}

// .address {
//   margin-top: 35px;
//   margin-left: 3px;
//   margin-right: 107px;
// }

.button {
  margin-top: 22px;
  margin-bottom: 20px;
  text-align: center;
  .add-btn {
    border-radius: 25px;
    color: #fff;
    background-color: #82ae46;
    // border: 1px solid #82ae46;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px; 
  }
}

.form {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 182px;
  padding-right: 375px;
}

.row {
  margin-top: 15px;
}

#button {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  //margin-top: px;
  margin-bottom: 30px;
  // border: solid lightgray 1.5px;
  background-color: #fff;
}

.confirm-btn {
  // border-radius: 20px;
  margin-left: 78%;
  margin-bottom: 30px;
  border-radius: 25px;
  color: #fff;
  background-color: #82ae46; 
  // border: 1px solid #82ae46;
  // font-size: 17px;
  font-weight: 600;
  letter-spacing: 1px;
  @include mobile {
    margin-left: 56%;
  }
}

.btn-sm {
  border-radius: 0%;
}
