.sidenav-wrapper {
  position: absolute;
  width: 240px;
  height: 91vh;
  left: 0px;
  top: 72px;
  z-index: 20;
  padding-top: 70px;
  background: #1f2a2c;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  // @include mobile {
  //   width: 70px;
  // }
  // @include tablet {
  //   width: 70px;
  // }
}
.main-wrapper {
  margin-left: 240px;
  height: calc(100vh - 64px);
  position: relative;
  overflow: auto;
}
