.sidenav-wrapper {
  width: 230px;
  height: 100%;
  z-index: 20;
  padding-top: 27px;
  background: #222d32;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
  margin-left: -15px;
  // @include mobile {
  //   width: 70px;
  // }
  // @include tablet {
  //   width: 70px;
  // }
}
.main-wrapper {
  position: relative;
}
