<div class="container-fluid carouesl1">
    <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/caro1.jpg" alt="" width="1100" height="500">
            </div>
            <div class="carousel-item">
                <img src="assets/caro2.jpg" alt="" width="1100" height="500">
                <div class="carousel-caption">
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/caro.jpg" alt="" width="1100" height="500">
                <div class="carousel-caption">
                </div>
            </div>
        </div> 
        <a class="carousel-control-prev caro-icons" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next caro-icons1" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>

<div class="container-fluid">
    <div class="container cement-section">
        <div class="widget">
            <h2 class="section-heading">Cement Company</h2>
            <p class="description1">Your dreams are like the cement. If you water it with actions, it becomes a hard concrete mass</p>
            <div class="row">
                <div class="col-md-3 pull-center" *ngFor="let item of cementProducts; let i = index">
                    <div class=" cement-showcase">
                        <img src="assets/cement.jpg" alt="photo"> 
                        <div>
                            <p><b>{{item.comp_name}}</b></p>
                        </div>
                        <div class="cement-value">
                            <div class="pull-center">
                                <div class="cement-price">
                                    <p><b>Price</b></p>
                                    <p><b>Qty</b></p>
                                    <p><b>&nbsp;&nbsp;Total</b></p>
                                </div>
                            </div>    
                            <div class="cement-price1 form-group">
                                <p><span>&#8377;</span>{{item.price}}<span>&#215;</span></p>
                                <input class="form-control" type="text" name="qty" placeholder="0" (input)="productValue(item, $event.target.value, i)">
                                <span>&#61;</span>
                                <input class="input" placeholder="0.00" value="{{item.totalPrice }}" />
                            </div>
                        </div>
                        <div>
                            <button type="button" class="btn btn-block cart-btn" (click)="itemAddToCart(i , 1)"><i class="fa fa-shopping-cart"></i>Add To Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>     
</div>

<div class="container-fluid bars">
    <div class="container bar-section">
        <div class="widget">
            <h2 class="section-heading">Bars</h2>
            <p class="description1">We source Bars from the certified vendors of industry, who manufacture these Steel Bars using premium quality raw materials.</p>
            <div class="row">
                <div class="col-md-3" *ngFor="let product of barsProducts; let k = index">
                    <div class="bar-showcase">
                        <img src="assets/cement.jpg" alt="photo">
                        <div>
                            <p><b>{{ product.bar_cmp_name }}</b></p>
                        </div>
                        <div class="bar-value">
                            <div class="pull-center">
                                <div class="cement-price">
                                    <p><b>MM</b></p>
                                    <p><b>Price</b></p>
                                    <p><b>Qty</b></p>
                                    <p><b>&nbsp;&nbsp;Total</b></p>
                                </div>
                            </div>  
                            <div class="bar-price1 form-group" *ngFor="let bar of product.barsList; let j = index">
                                <p>{{ bar.type }}&nbsp;<span>&#8211;</span>&nbsp;</p>
                                <p><span>&#8377;&nbsp;</span>{{ bar.value }}&nbsp;<span>&#215;&nbsp;</span></p>
                                <input class="form-control" type="" placeholder="0"
                                    (input)="barsQuntity(bar, $event.target.value, k, j, product.prod_bar_company_id)"/>
                                <span>&nbsp;&#61;&nbsp;</span>
                                <input class="input" type="text" name="total" placeholder="0.00" readonly value="{{bar.totalPrice }}"/>

                            </div> 
                        </div>
                        <div class="form-group">
                            <label for="total-price"><b>Total Amount : &nbsp;&nbsp;</b></label>
                            <label name="total" readonly >{{product.totalCartPrice }} </label>
                        </div>
                        <div>
                            <button type="button" class="btn btn-block cart-btn" (click)="itemAddToCart(k , 2)"><i class="fa fa-shopping-cart"></i>Add To Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>

<div class="container-fluid">
    <div class="container customer-report">
        <div class="widget">
            <h2 class="section-heading">Our Satisfied Customer says</h2>
            <p class="description1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, illum ea? Doloremque tenetur, quos eos natus animi</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="customer-profile">
                        <img src="assets/user.jpg" alt="">
                    </div>
                    <div class="customer-desc">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, illum ea? Doloremque tenetur, quos eos natus animi</p>
                    </div>
                    <div class="customer-data">
                        <h4>Shiva</h4>
                        <p>INTERFACE DESIGNER</p>
                    </div>
                </div>    
                <div class="col-md-4">
                    <div class="customer-profile">
                        <img src="assets/user.jpg" alt="">
                    </div>
                    <div class="customer-desc">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, illum ea? Doloremque tenetur, quos eos natus animi</p>
                    </div>
                    <div class="customer-data">
                        <h4>Suzuki</h4>
                        <p>SYSTEM ANALYST</p>
                    </div>
                </div> 
                <div class="col-md-4">
                    <div class="customer-profile">
                        <img src="assets/user.jpg" alt="">
                    </div>
                    <div class="customer-desc">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, illum ea? Doloremque tenetur, quos eos natus animi</p>
                    </div>
                    <div class="customer-data">
                        <h4>Santhosi</h4>
                        <p>MARKETING MANAGER</p>
                    </div>
                </div> 
            </div>    
        </div>    
    </div>
</div>

