<!-- <div class="container">
  <div *ngFor="let item of products">
    name:
    <input
      type="text"
      placeholder="name"
      value="{{ item.comp_name }}"
      readonly
    />
    price: <input value="{{ item.price }}" readonly /> qty:<input
      type="number"
      placeholder="quantity"
      value=""
    />
    total:<input type="text" value="" readonly />
  </div>
</div> -->
<div class="container">
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid a maxime nulla! Veniam, nemo vero 
  illum consequatur, fuga repellendus rem explicabo repudiandae reiciendis harum cum nam ducimus obcaecati 
  dignissimos? Modi!
  </p>
</div>