<div class="container-fluid carouesl1">
    <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/caro.jpg" alt="Los Angeles" width="1100" height="500">
                <!-- <div class="carousel-caption">
                    <h3>Los Angeles</h3>
                    <p>We had such a great time in LA!</p>
                </div> -->
            </div>
            <div class="carousel-item">
                <img src="assets/caro1.jpg" alt="Chicago" width="1100" height="500">
                <div class="carousel-caption">
                    <h3>Chicago</h3>
                    <p>Thank you, Chicago!</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/caro2.jpg" alt="New York" width="1100" height="500">
                <div class="carousel-caption">
                    <h3>New York</h3>
                    <p>We love the Big Apple!</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>

<div class="container cement-section">
    <div class="cement-widget">
        <p class="section-heading">Ce<span class="style">ment Compa</span>ny</p>
        <div class="row">
            <div class="col-sm-3" *ngFor="let item of cementProducts; let i = index">
                <div class=" cement-showcase">
                    <img src="assets/cement.jpg" alt="photo">
                    <div>
                        <p><b>{{item.comp_name}}</b></p>
                    </div>
                    <div class="cement-value">
                        <div class="cement-price">
                            <p><b>Price</b></p>
                            <p><b>Qty</b></p>
                            <p><b>&nbsp;&nbsp;Total</b></p>
                        </div>
                        <div class="cement-price1">
                            <p><span>&#8377;</span>{{item.price}}<span>&#215;</span></p>
                            <input type="text" name="qty" (input)="productValue(item, $event.target.value, i)">
                            <span>&#61;</span>
                            <input type="text" class="cement-input" name="total" readonly value="{{ item.totalPrice }}">
                        </div>
                    </div>
                    <div>
                        <button type="button" class="btn cart-btn" (click)="itemAddToCart(i)">Add To Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container bar-section">
    <div class="bar-widget">
        <p class="section-heading">Bars</p>
        <div class="row">
            <div class="col-sm-4" *ngFor="let product of barsProducts; let k = index">
                <div class=" bar-showcase">
                    <img src="assets/cement.jpg" alt="photo">
                    <div>
                        <p><b>{{ product.bar_cmp_name }}</b></p>
                    </div>
                    <div class="bar-value">
                        <div class="bar-price1" *ngFor="let bar of product.barsList; let j = index">
                            <p>{{ bar.type }}&nbsp;<span>&#8211;</span>&nbsp;</p>
                            <p><span>&#8377;&nbsp;</span>{{ bar.value }}&nbsp;<span>&#215;&nbsp;</span></p>
                            <input type="number" value="" (input)="barsQuntity(bar, $event.target.value, k, j)"
                                placeholder="quantity" />
                            <span>&nbsp;&#61;&nbsp;</span>
                            <input type="text" class="bars-input-name" name="total" readonly value="{{ bar.totalPrice }}">

                        </div>
                    </div>
                    <div>
                        <label for="total-price">Total Price&nbsp;&nbsp;</label>
                        <input type="text" name="total" readonly value="{{ product.totalCartPrice }}" />
                    </div>
                    <div>
                        <button type="button" class="btn cart-btn" (click)="itemAddToCart(k)">Add To Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

