@import "../../../manual-Styles/custom-styles.scss";
.footer-widget {
  font-family: lato, Roboto, "Helvetica Neue", sans-serif;
  background-color: #fff;
  color: #000;
  text-align: justify;
}

.data {
  padding: 130px 10px 10px 10px;
  @include mobile {
    padding: 64px 10px 10px 10px;
  }
}
.company-name {
  font-size: 27px;
}
.company-desc {
  padding-right: 42px;
  @include mobile {
    font-size: 14px;
  }
}
.social-icons {
  i {
    margin: 10px;
    font-size: 26px;
    @include mobile {
      font-size: 19px;
    }
  }
}
.footer-content {
  @include mobile {
    margin-bottom: 13px;
  }
  .footer-links {
    // text-align: center;
    font-size: 27px;
    text-decoration: none;
    font-weight: 400;
    color: #82ae46 !important;
    &:hover {
      color: #000 !important;
    }
  }
}
.footer-widget a {
  color: #000;
}

.list li {
  list-style-type: none;
  margin-bottom: 8px;
  a {
    text-decoration: none;
  }
}

.list1 {
  padding: 0px;
  margin-top: 18px !important;
}

.list1 li {
  list-style-type: none;
  margin-bottom: 8px;
  font-size: 18px;
  @include mobile {
    font-size: 14px;
  }
}

.list1 li a {
  text-decoration: none;
  font-size: 18px;
  @include mobile {
    font-size: 14px;
  }
}
.copyright-text {
  text-align: center;
  margin: 70px 0px 70px 0px;
}

/*============ START SUBSCRIBE SECTION================*/
.position {
  position: relative;
  // margin-top: 70px;
  .subscribe{
    background-color: #f7f6f2;
    padding: 50px;
    .subscribe-text { 
      @include mobile {
        padding-left: 0px;
        padding-right: 0px;
      }
      h2 {
        color: #000;
        @include mobile {
          font-size: 20px;
        }
      }
      p {
        color: gray !important;
        @include mobile { 
          padding-top: 7px;
        }  
      }
    }
    .subscribe-form {
      .form-group {
        display: flex;
        @include mobile {
          margin-left: -37px;
          margin-top: 13px;
        }
        input {
          border: 1px solid transparent;
        }
        .form-control {
          height: 52px;
        }
        input[type="submit"] {
          background-color: #82ae46 !important;
          color: #fff;
        }
      }
    }
  }

  .navigate-top {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #82ae46;
    position: absolute;
    top: 164px;
    left: 48%;
    color: #fff;
    font-size: 28px;
    text-align: center;
    animation: 1.6s ease infinite wheel-up-down !important;
    button {
      border-radius: 25px;
    }
    @include mobile {
      top: 262px;
      left: 42%; 
    }
    i {
      color: #fff; 
      font-size: 28px;
      animation: 1.6s ease infinite wheel-up-down !important;

    }
  }
}