<footer class="footer-widget">
  <div class="container-fluid">
    <div class="data">
      <div class="row">
        <div class="col-sm-4">
            <a class="#" class="navbar navbar-brand logo-text">
              <h2>Order Management</h2>
            </a>
            <p class="company-desc">Duis semper mauris vitae purus rhoncus suscipit. Nunc dictum dapibus tellus, at viverra risus 
              pharetra id. Nulla facilisi. Ut mollis et augue non gravida.
            </p>
            <a href="#">
              <i class="icon-social-twitter"></i>
            </a>
            <a href="#">
                <i class="icon-social-twitter"></i>
            </a>
            <a href="#">
                <i class="icon-social-twitter"></i>
            </a>
        </div>
        <div class="col-sm-4">
          <h3 class="widget-title">Recent Posts</h3>
          <div class="image-text">
            <div>
              <img src="assets/image.jpg">
            </div>
            <div class="text">
              <p>Computer & Table</p>
              <P class="footer-text">Macsof Technologies</P>
            </div>
          </div>
          <div class="image-text">
              <div>
                <img src="assets/image.jpg">
              </div>
              <div class="text">
                <p>Computer & Table</p>
                <P class="footer-text">Macsof Technologies</P>
              </div>
            </div>
            <div class="image-text">
                <div>
                  <img src="assets/image.jpg">
                </div>
                <div class="text">
                  <p>Computer & Table</p>
                  <P class="footer-text">Macsof Technologies</P>
                </div>
              </div>
        </div>
        <div class="col-sm-4">
          <h3 class="widget-title">Latest Projects</h3>
          <div class="row">
            <div>
              <img class="footer-image" src="assets/image.jpg">
            </div>
            <div>
                <img class="footer-image" src="assets/image.jpg">
            </div>
            <div>
                <img class="footer-image" src="assets/image.jpg">
            </div>
            <div>
              <img class="footer-image" src="assets/image.jpg">
            </div>
            <div>
                <img class="footer-image" src="assets/image.jpg">
            </div>
            <div>
                <img class="footer-image" src="assets/image.jpg">
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>