.footer-widget {
    font-family: lato,Roboto,"Helvetica Neue",sans-serif;
    background-color:#1f2a2c;
    color:#ffffff;
    text-align: justify;
}

.data {
    padding:100px 35px 100px 35px;
}

.footer-widget a {
    color:#ffffff;
}

// .company-desc {
//     margin-top:22px;
// }

.image-text img {
    height:70px;
    width:67px;
}

.image-text {
    display: flex;
    margin-bottom:20px;
}

.image-text p {
    margin:0px;
}

.text{
    padding: 7px;
    margin-left: 17px;
}

.footer-text {
    font-size:12px;
    text-align:center;
}

.footer-image {
    float:left;
    width:80px;
    height:80px;
    margin:17px;
}