<div class="position">
  <div class="container-fluid subscribe">
      <div class="container">
          <div class="row">
              <div class="col-md-6 subscribe-text">
                  <h2>Subscribe to Our Newsletter</h2>
                  <p>Get-email updates about our latest shops and special offers</p>
              </div>
              <div class="col-md-6 subscribe-form">
                <form>
                  <div class="form-group">
                    <input class="form-control" type="text" placeholder="Enter email address">
                    <input type="submit" value="Subccribe">
                  </div>    
                </form>
              </div>
          </div>    
      </div>
  </div>

  <div class="navigate-top">
      <button class="btn btn-md" (click)="navigateTop()"><i class="fa fa-angle-up" aria-hidden="true"></i></button>
  </div>
</div>    

<footer class="footer-widget">
  <div class="container">
    <div class="data">
      <div class="row">
        <div class="col-md-4 footer-content">
          <a href="#" class="footer-links">
            <p class="company-name">Order Management</p>
          </a>
          <div class="company-desc">
            <p>
              Le Lorem Ipsum est simplement du faux texte employé dans la
              composition et la mise en page avant impression.
            </p>
          </div>
          <div class="social-icons">
            <i class="fa fa-twitter"></i>
            <i class="fa fa-facebook-f"></i>
            <i class="fa fa-instagram"></i>
          </div>
        </div>
        <div class="col-md-4 footer-content">
          <a class="footer-links">Other Links</a>
          <ul class="list1">
            <li>
              <a>Home</a>
            </li>
            <li>
              <a>SignIn</a>
            </li>
            <li>
              <a>SignUP</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 footer-content">
          <a class="footer-links">Contact</a>
          <ul class="list1">
            <li><i class="fa fa-home mr-2"></i>Home</li>
            <li>
              <i class="fa fa-envelope mr-2"></i>Ordermanagement@gmail.com
            </li>
            <li><i class="fa fa-phone mr-2"></i>+91 9966332255</li>
          </ul>
        </div>
      </div>
      <div class="copyright-text">
        <p>Copyright &copy; 2019  All rights reserved By MacsofTechnologies</p>
      </div>
    </div>
  </div>
</footer>
