<footer class="footer-widget">
  <div class="container">
    <div class="data">
      <div class="row">
        <div class="col-md-4 footer-content">
          <a href="#" class="footer-links">
            <p class="company-name">Order Management</p>
          </a>
          <p class="company-desc">Le Lorem Ipsum est simplement du faux texte employé dans
            la composition et la mise en page avant impression.
          </p>

        </div>
        <div class="col-md-4 footer-content">
          <a class="footer-links">Other Links</a>
          <ul class="list1">
            <li>
              <a href="#">Link1</a>
            </li>
            <li>
              <a href="#">Link2</a>
            </li>
            <li>
              <a href="#">Link3</a>
            </li>
            <li>
              <a href="#">Link4</a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 footer-content">
          <a class="footer-links">Contact</a>
          <ul class="list1">
            <li>
              <i class="fa fa-home mr-2"></i>Home
            </li>
            <li>
              <i class="fa fa-envelope mr-2"></i>Ordermanagement@gmail.com
            </li>
            <li>
              <i class="fa fa-phone mr-2"></i>+91 9966332255
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>